<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.influxdata.telegraf</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/telegraf</string>
            <string>--config</string>
            <string>/etc/telegraf/telegraf.conf</string>
            <string>--config-directory</string>
            <string>/etc/telegraf/telegraf.d/</string>
        </array>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
